*.venv/
venv/
*inference_from_bigred/
*inference_from_bigred2/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/   
.env  
*slurm_files/
runs/
preprocessed_masks/